<a href="https://colab.research.google.com/github/JSJeong-me/SEMICON-BigData/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 과정 목표: 파이썬 이해, 데이터 수집 및 정제, 데이터 시각화, 통계의 이해까지이며 내용으로는 Pandas활용, 시각화, 통계적 가설검정

Computer Program는

Mathmatics Notation 과 NLP 사이

## Python platform — 하부 플랫폼의 식별 데이터에 대한 액세스

In [2]:
# https://docs.python.org/ko/3/library/platform.html

import platform

In [3]:
platform.processor()

'x86_64'

In [4]:
platform.python_version()

'3.7.10'

In [5]:
platform.system()

'Linux'

In [6]:
platform.python_build()

('default', 'Feb 19 2021 16:07:37')

## 문자열 인덱싱과 슬라이싱

In [7]:
a = "Hello World!"

In [8]:
type(a)

str

In [9]:
a[0]

'H'

In [10]:
a[-1]

'!'

In [11]:
a[2:-1]

'llo World'

In [12]:
a[2:]

'llo World!'

## List와 Array

In [135]:
import numpy as np

In [136]:
score1 = [61,72,83]

In [137]:
score_array_1=np.array(score1)

In [138]:
type(score_array_1)

numpy.ndarray

In [139]:
score_array_1.shape

(3,)

In [169]:
score = [[61,72,83],
        [21,52,33],
        [41,72,93]]

In [170]:
type(score)

list

In [171]:
score

[[61, 72, 83], [21, 52, 33], [41, 72, 93]]

In [172]:
score_array=np.array(score)

In [173]:
type(score_array)

numpy.ndarray

In [174]:
score_array

array([[61, 72, 83],
       [21, 52, 33],
       [41, 72, 93]])

In [175]:
score_array.shape

(3, 3)

In [176]:
score_array[:,0]

array([61, 21, 41])

### Pandas의 DataFrame을 쓰는 이유는 컬럼값과 인덱스를 줄 수 있고, 엑셀 표처럼 저장이 됨

In [177]:
import pandas as pd

In [178]:
df_index=['A_class','B_class','C_class']

In [179]:
df_columns=['Math','English','Physics']

In [180]:
score_df = pd.DataFrame(score_array, columns=df_columns, index=df_index)

In [181]:
type(score_df)

pandas.core.frame.DataFrame

In [182]:
score_df

         Math  English  Physics
A_class    61       72       83
B_class    21       52       33
C_class    41       72       93

In [183]:
score_df['Math']

A_class    61
B_class    21
C_class    41
Name: Math, dtype: int64

In [184]:
score_df.Math

A_class    61
B_class    21
C_class    41
Name: Math, dtype: int64

In [198]:
score_df.iloc[1:,1]

B_class    52
C_class    72
Name: English, dtype: int64

In [197]:
score_df.loc[:,'Math']

A_class    61
B_class    21
C_class    41
Name: Math, dtype: int64

### DataFrame은 iloc, loc를 통해서 접근해야함
### 밑의 경우에는 array일 때 사용가능

In [194]:
score_df[:,0]

TypeError: '(slice(None, None, None), 0)' is an invalid key

In [187]:
score_value = score_df.values

In [188]:
type(score_value)

numpy.ndarray

In [189]:
score_value

array([[61, 72, 83],
       [21, 52, 33],
       [41, 72, 93]])

In [190]:
score_list = score_value.tolist()

In [191]:
score_list

[[61, 72, 83], [21, 52, 33], [41, 72, 93]]

In [192]:
type(score_list)

list

### Series는 인덱스를 줄 수 있음

### 엑셀처럼 다룰 수 있음

In [162]:
series_index=['Math','English','Physics']

In [163]:
score_series = pd.Series(score,index=series_index)

In [164]:
type(score_series)

pandas.core.series.Series

In [165]:
score_series

Math       [61, 72, 83]
English    [61, 52, 33]
Physics    [61, 72, 93]
dtype: object

## 문자열 포맷팅 : %

%s는 'string'의 첫 글자로서 문자열을 의미

%c는 'character'의 첫 글자로서 문자 1개를 의미

%d는 'digit'의 첫 글자로 정수형 숫자를 의미

%f는 'floating point'의 첫 글자로서 실수형 숫자를 의미

In [ ]:
kor = 90
eng = 100
math = 85
sum = kor + eng + math
avg = sum/3
print('합계 : %d, 평균 : %.2f' % (sum, avg))

In [ ]:
#@title 기본 제목 텍스트
color = '파랑'
s = '나는 %s을 좋아합니다.' %color # %s에 color값(파랑)을 대입
s

In [ ]:
a = "%10s" % "hi"
print(a)

In [ ]:
a = "%-10s" % "hi"
print(a)

In [ ]:
a = "%0.4f" % 3.42134234
print(a)

In [ ]:
number = 4
a = "I want {0} eggs".format(number)
print(a)

In [ ]:
color = "white"
day = "ten"
a = "I like {0} eggs. so I ate them for {1} days.".format(color, day)
print(a)

In [ ]:
a = " I like {color} eggs. so I ate them for {day} days.".format(color= "white" , day=10)
print(a)

In [ ]:
message = '안녕하세요!'
str_len = len(message) # message 문자열의 길이
print('문자열의 길이 : ' + str(str_len))

In [ ]:
a = "happy"
c = a.count('p') # happy 문자열에서 p는 몇 개인지 세기
print(c)

In [ ]:
a = "I like egg"
f = a.find('e') # 문자열 중 e가 처음 나온 위치 반환
print(f)

In [ ]:
f = a.find('s') # 찾는 문자나 문자열이 존재하지 않는다면 -1을 반환
print(f)

In [ ]:
a = "Life is too short"
i = a.index('t') # 문자열 중 t가 처음 나온 위치 반환
print(i)

In [ ]:
a = "Life is too short"
i = a.index('k') # 문자열 안에서 찾고자 하는 문자를 찾지 못하면 오류 발생
print(i)

In [ ]:
j = ",".join('abcd') # abcd 문자열의 각각의 문자 사이에 ',' 를 삽입
print(j)

In [ ]:
a = "HI"
T = a.upper()
t = a.lower()
print(t, T)

In [ ]:
a = " hi "
l = a.lstrip()
print(l)

In [ ]:
a= " hi "
r = a.rstrip()
print(r)

In [ ]:
a = " hi "
s = a.strip()
print(s)

In [ ]:
a = "aaaaHello Pythonaaa"
l = a.lstrip('a')
print(l)

In [ ]:
a= "aaaaHello Pythonaaa"
r = a.rstrip('a')
print(r)

In [ ]:
a = "aaaaHello Pythonaaa"
s = a.strip('a')
print(s)
s

In [ ]:
a = "Life is bad"
s = a.replace("bad", "good")
print(s)

In [ ]:
a = "Life is good"
s = a.split() # 공백을 구분자로 문자열을 나눔
print(s)

In [ ]:
type(a)

In [ ]:
type(s)

In [ ]:
b = "a:b:c:d"
s = b.split(':') # ':' 값을 구분자로 문자열을 나눔
print(s)

## List

In [ ]:
score = [90, 89, 77, 95, 67] # score 변수에 숫자로 된 리스트형의 값을 저장
fruit = ['apple', 'banana', 'orange'] # fruit 변수에 문자열로 된 리스트형의 값을 저장
print(score)

In [ ]:
print(fruit)

In [ ]:
color = ['red', 'green', 'blue', 'black', 'white'] # 가장 왼쪽부터 0번째 값임
print(color[4])

In [ ]:
print(color[1:4])

In [ ]:
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
print(a[2:5]) # a변수에서 2번 index에서 4번 index까지 출력

In [ ]:
print(a[3][:2])

In [ ]:
num = list(range(1,21, 2)) # 1부터 20까지 2씩 증가하는 데이터 생성
print(num)

In [ ]:
print(num[3:7])

## 리스트 연산하기

In [15]:
a = [1, 2, 3]
b = [4, 5, 6]
print(a + b)

[1, 2, 3, 4, 5, 6]

In [16]:
a = [1, 2, 3]
print(a * 3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [17]:
a = [1, 2, 3]
print(len(a))

3

In [18]:
a = [1, 2, 3]
a[2] = 4 # a의 3번째 값에 4를 저장
print(a)

[1, 2, 4]

In [19]:
a = [1, 2, 3]
del a[1] # a의 2번째 값을 삭제
print(a)

[1, 3]

In [20]:
a = [1, 2, 3, 4, 5]
del a[2:] # a의 3번째 값부터 삭제
print(a)

[1, 2]

In [21]:
a = [1, 2, 3]
a.append(4) # a의 값에 4를 추가
print(a)

[1, 2, 3, 4]

In [22]:
a.append([5,6]) # a의 값에 [5,6] 리스트를 추가
print(a)

[1, 2, 3, 4, [5, 6]]

In [23]:
a = [1, 2, 3]
a.insert(0, 4) # insert(a, b)는 리스트의 a번째 위치에 b를 삽입
print(a)

[4, 1, 2, 3]

In [24]:
a = [1, 2, 3, 1, 2, 3]
a.remove(3) # remove(x)는 리스트에서 첫 번째로 나오는 x를 삭제
print(a)

[1, 2, 1, 2, 3]

In [25]:
a = [1,2,3]
print(a.pop()) # pop()은 리스트의 맨 마지막 요소를 돌려주고 그 요소는 삭제

3

In [26]:
a

[1, 2]

In [27]:
b = [1,2,3]
print(b.pop(1)) # pop(x)는 리스트의 x번째 요소를 돌려주고 그 요소는 삭제

2

In [28]:
print(b)

[1, 3]

## 리스트 관련 함수

In [29]:
a = ['a', 'c', 'b']
a.reverse() # a의 순서를 뒤집기
print(a)

['b', 'c', 'a']

In [30]:
a = [1,2,3]
print(a.index(3))

2

In [31]:
a = [1, 4, 3, 2]
a.sort() # a를 오름차순으로 정렬
print(a)

[1, 2, 3, 4]

In [32]:
a = [1, 4, 3, 2]
a.sort(reverse = True) #a를 내림차순 정렬
print(a)

[4, 3, 2, 1]

In [33]:
a = [1,2,3,1]
print(a.count(1))

2

In [34]:
a = [1,2,3]
a.extend([4,5]) # a 리스트에 x 리스트를 더함
print(a)

[1, 2, 3, 4, 5]

In [35]:
b = [6, 7]
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6, 7]

## Tuple 자료


  > • List와 같이 여러 개의 데이터를 집어넣을 수 있는 공간. 소괄호를 이용하여, 데이터를 묶어 줌.

  (예) c = (1,2,3,4,5)
  > • Tuple 내 데이터 간에 순서가 존재함

  > • 한번 선언된 Tuple은 변경이 불가능함
  
  > • 함수와 반복문 같이 중요한 하이퍼파라미터(Hyper Parameter)들을 보호할 때 사용
  > - 하이퍼파라미터 : 수식 내 값이 변하지 않는 인자나 상수

In [36]:
t1 = (1, 2, 3)
print(t1)

(1, 2, 3)

In [37]:
type(t1)

tuple

In [38]:
t2 = ('a', 'b', ('ab', 'cd'))
print(t2)

('a', 'b', ('ab', 'cd'))

In [39]:
t3=(4,)
print(t3) # 데이터를 하나만 가진 튜플을 만들 땐 데이터 뒤에 콤마(,)를 꼭 찍어야 함

(4,)

In [40]:
t1 = (1, 2, 'a', 'b')
print(t1[0]) # t1의 1번째 값을 출력

1

In [41]:
print(t1[3]) # t1의 4번째 값을 출력

b

In [42]:
t1 = (1, 2, 'a', 'b')
print(t1[1:]) # t1의 2번째부터 출력

(2, 'a', 'b')

In [43]:
t1 = (1, 2, 'a', 'b')
t2 = (3, 4)
print(t1 + t2)

(1, 2, 'a', 'b', 3, 4)

In [44]:
t2 = (3, 4)
print(t2 * 3)

(3, 4, 3, 4, 3, 4)

In [45]:
t1 = (1, 2, 'a', 'b')
print(len(t1))

4

## **Dictionary 자료** 

  • 데이터를 Key와 Value의 Pair 형태로 하나의 변수에 선언

  • 중괄호를 이용하여, key-value Pair 형태로 묶어줌.

  - d = {“name” : “Kim”, “value” : 100 } : Kim이라는 데이터가 name이라는 키 값과 쌍을 이루고 100이라는 데이터가 value라는 키 값과 쌍을 이룸.

• 매우 많이 사용되는 데이터 자료형 중 하나로 구조적으로 다룰 수 있음.

• Key 값은 중복되지 않음.

In [46]:
dic = {'name':'kim', 'phone':'01012341234', 'birth': '0705'}

In [47]:
type(dic)

dict

In [199]:
dic.keys()

dict_keys(['name', 'phone', 'birth'])

In [200]:
dic.values()

dict_values(['kim', '01012341234', '0705'])

In [48]:
a = {1: 'hi'}

In [49]:
type(a)

dict

In [50]:
a = { 'a': [1,2,3]} # Value에 List를 넣은 예

In [51]:
a

{'a': [1, 2, 3]}

In [52]:
a = {1: 'a'}
a[2] = 'b' # 딕셔너리 a에 Key와 Value가 각각 2와 'b'인 딕셔너리 쌍 추가
print(a)

{1: 'a', 2: 'b'}

In [53]:
a['name'] = 'kim' # 딕셔너리 a에 'name': ‘kim'라는 쌍을 추가
print(a)

{1: 'a', 2: 'b', 'name': 'kim'}

In [54]:
a[3] = [1,2,3] # Key는 3, Value는 [1, 2, 3]을 가지는 한 쌍이 추가
print(a)

{1: 'a', 2: 'b', 'name': 'kim', 3: [1, 2, 3]}

In [55]:
del a[1] # 지정한 Key 1에 해당하는 {key : value} 쌍이 삭제
print(a)

{2: 'b', 'name': 'kim', 3: [1, 2, 3]}

In [56]:
grade = {'kim': 30, 'lee': 80}
print(grade['kim'])

30

In [57]:
print(grade['lee'])

80

In [58]:
a = {1:'a', 2:'b'}
print(a[1])

a

In [59]:
a[1]

'a'

In [60]:
print(a[2])

b

In [61]:
a = {'a':1, 'b':2}
print(a['a'])

1

In [62]:
print(a['b'])

2

In [63]:
a = {'name': 'kim', 'phone': '01012341234', 'birth': '0705'}
print(a.keys()) # a.keys()는 딕셔너리 a의 Key만을 모아서 dict_keys 객체를 돌려줌

dict_keys(['name', 'phone', 'birth'])

In [64]:
print(list(a.keys())) # dict_keys 객체를 리스트로 변환

['name', 'phone', 'birth']

In [65]:
a = {'name': 'kim', 'phone': '01012341234', 'birth': '0705'}
print(a.values())

dict_values(['kim', '01012341234', '0705'])

In [66]:
a = {'name': 'kim', 'phone': '01012341234', 'birth': '0705'}
print(a.items())

dict_items([('name', 'kim'), ('phone', '01012341234'), ('birth', '0705')])

In [67]:
a = {'name': 'kim', 'phone': '01012341234', 'birth': '0705'}
a.clear() # a 딕셔너리 안의 모든 요소를 삭제
print(a)

{}

In [68]:
a = {'name': 'kim', 'phone': '01012341234', 'birth': '0705'}
print(a.get('name')) # a 딕셔너리 안의 name key에 해당하는 value 출력

kim

In [69]:
a = {'name': 'kim', 'phone': '01012341234', 'birth': '0705'}
print('name' in a) # a 딕셔너리 안에 name key가 있으면 True, 없으면 False

True

In [70]:
print('email' in a)

False

## **집합(Set)이란?**

집합에 관련된 것을 쉽게 처리하기 위해 만든 자료형

**집합 자료형의 특징**

집합 자료형은 중복을 허용하지 않음

집합 자료형은 순서가 없음

set 자료형은 순서가 없기 때문에 인덱셍으로 값을 얻을 수 없음

In [71]:
s1 = set([1,2,3]) # set()의 괄호안에 리스트를 입력
print(s1)

{1, 2, 3}

In [72]:
s2 = set("hello")
print(s2)

{'l', 'e', 'o', 'h'}

In [73]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])
print(s1 & s2) # 교집합

{4, 5, 6}

In [74]:
print(s1.intersection(s2)) # 교집합

{4, 5, 6}

In [75]:
print(s1 | s2) # 합집합

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [76]:
print(s1.union(s2)) # 합집합

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [77]:
#@title 기본 제목 텍스트
print(s1 - s2) # 차집합

print(s2 - s1) # 차집합

print(s1.difference(s2)) # 차집합

print(s2.difference(s1)) # 차집합

{1, 2, 3}
{8, 9, 7}
{1, 2, 3}
{8, 9, 7}

## **input**() **함수**

In [78]:
height=input("당신의 키는?") # height라는 변수에 ‘170’ 문자로 저장

당신의 키는?165

In [79]:
type(height) # height라는 변수가 문자인 것을 확인

str

In [80]:
height=int(input("당신의 키는?"))
print(height)

당신의 키는?165
165

In [81]:
type(height)

int

In [82]:
a = input("정사각형 한 변의 길이는?  ")
area = int(a) ** 2
print("정사각형의 넓이 :", area)

정사각형 한 변의 길이는?  4
정사각형의 넓이 : 16

## **print() 함수**

In [83]:
print("hello")

hello

In [84]:
"hello"

'hello'

In [85]:
55+21

76

In [86]:
print("I", end=" ")  # 줄을 바꾸지 않고 싶은 경우 end 이용
print("Love", end = " ")
print("You" , end= " ")

I Love You

In [87]:
print("I" "2" "YOU")

I2YOU

In [88]:
print("I", "2", "YOU")

I 2 YOU

In [89]:
print("I"+ str(2)+ "YOU")

I2YOU

## **문자열 형식 지정 출력**

%s  ---   문자열 형태로 출력

%d --- 정수형으로 출력

%f --- 부동소수점 형식으로 출력

%.nf --- 부동소수점을 소수점 이하 n자리까지 출력

%x 또는 %X --- 정수를 16진수 형태(소문자 또는 대문자)로 출력

In [203]:
name = "kim"
age = 23
print("%s는 %d입니다."%(name,age))

kim는 23입니다.

In [90]:
name = "John"
print("Hello, %s!" % name)

Hello, John!

In [91]:
name = "John"
age = 23
print("%s은 %d 살입니다." % (name, age))

John은 23 살입니다.

## 예제

In [92]:
cost=input("상품의 가격을 입력하세요: ")
belong=input("구매를 위해 낼 돈의 금액을 입력하세요: ")
rest=int(belong)-int(cost)
print("상품은 "+cost+"원이고, 잔돈은 "+str(rest)+"원입니다")

상품의 가격을 입력하세요: 4000
구매를 위해 낼 돈의 금액을 입력하세요: 5000
상품은 4000원이고, 잔돈은 1000원입니다


## **if문이란?**

if 조건1: # if 조건문 뒤에는 반드시 콜론(:)을 붙임

    수행할 문장1 # 들여쓰기(빈칸 4 : 스페이스바 띄움 4번)

else:

    수행할 문장2

## **비교연산자**

X < y  X가 y보다 작다

X > y  X가 y보다 크다

X == y  X와 y가 같다

X != y  X와 y가 같지 않다


X >= y  X가 y보다 크거나 같다

X <= y  X가 y보다 작거나 같다

In [93]:
money = True
if money:
  print("사과를 사라")
else:
  print("바나나를 사라")

사과를 사라

In [94]:
money = 5000
if money >= 8000:
  print("사과를 사라")
else:
  print("바나나를 사라")

바나나를 사라

In [95]:
number = input("정수를 입력하세요: ")
number = int(number)
if number % 2 == 0:
  print("짝수입니다.")
else:
  print("홀수입니다.")

정수를 입력하세요: 2
짝수입니다.

In [96]:
money = 5000
card = True
if money >= 8000 or card:
  print("사과를 사라")
else:
  print("바나나를 사라")

사과를 사라

In [97]:
pocket = ['pen', 'phone']
card = True
if 'money' in pocket:
  print("과일을 사라")
elif card:
  print("과일을 사라")
else:
  print("그냥 가라")

과일을 사라

In [98]:
score = int(input("점수를 입력하시오: "))
if score >= 95:
  grade = "A+입니다."
elif score >= 90:
  grade = "A0입니다."
elif score >= 85:
  grade = "B+입니다."
elif score >= 80:
  grade = "B0입니다."
else:
  grade = "C0입니다."
print(grade)

점수를 입력하시오: 94
A0입니다.

## **예제**

In [99]:
weight=input("당신의 몸무게는 몇 kg입니까?")
height=input("당신의 키는 몇 cm입니까?")
bmi=int(weight)/((int(height)*0.01)**2) 
if bmi < 18.5:
  print("당신은 저체중입니다")
elif bmi < 22.9:
  print("당신은 정상체중입니다")
elif bmi < 24.9:
  print("당신은 과체중입니다")
elif bmi < 29.9:
  print("당신은 경도비만입니다")
else:
  print("당신은 고도비만입니다")

당신의 몸무게는 몇 kg입니까?49
당신의 키는 몇 cm입니까?165
당신은 저체중입니다

In [100]:
print(bmi)

17.998163452708905

## **while문이란?**

In [101]:
color = """
  1. red
  2. yellow
  3. blue
  4. orange
  Enter number: """

number = 0
while number != 4: # number가 4가 아닌 동안 color를 출력하고  사용자로부터 번호를 입력 받음
  print(color)
  number = int(input())

  1. red
  2. yellow
  3. blue
  4. orange
  Enter number:
2

  1. red
  2. yellow
  3. blue
  4. orange
  Enter number:
4

In [102]:
i = 0
sum = 0
while i < 10:
  i = i + 1
  sum = sum + i
  
print(sum)

55

In [103]:
i = 0
while i < 10:
  i = i + 1
  if i % 2 == 1:
    print(i, end = "  ")

1  3  5  7  9

## **break(while문 강제 종료)**

In [104]:
egg = 5
money = 500
while money:
  print("돈을 받고 계란을 준다.")
  egg = egg -1
  print("남은 계란은 %d개입니다." % egg)
  if egg == 0:
    print("계란이 없습니다.")
    break

돈을 받고 계란을 준다.
남은 계란은 4개입니다.
돈을 받고 계란을 준다.
남은 계란은 3개입니다.
돈을 받고 계란을 준다.
남은 계란은 2개입니다.
돈을 받고 계란을 준다.
남은 계란은 1개입니다.
돈을 받고 계란을 준다.
남은 계란은 0개입니다.
계란이 없습니다.

## **continue**

In [105]:
a = 0
while a < 10:
  a = a + 1
  if a % 2 == 0:
    continue
  print(a)

1
3
5
7
9

## **for문이란?**

for 변수 in 범위 또는 배열의 변수(리스트, 튜플, 문자열):

      수행할 문장1

      수행할 문장2

      ...

In [106]:
test_list = ['one', 'two', 'three']
for i in test_list:
  print(i)

one
two
three

In [107]:
a = [(1,2), (3,4), (5,6)]
for (first, last) in a:
  print(first + last)

3
7
11

In [108]:
array = [35, 20, 56, 76, 65]
for i in range(len(array)):
  print("{}번째 데이터는 {}입니다.".format(i, array[i]))

0번째 데이터는 35입니다.
1번째 데이터는 20입니다.
2번째 데이터는 56입니다.
3번째 데이터는 76입니다.
4번째 데이터는 65입니다.

In [109]:
avers = [80, 20, 65, 50, 90]
num = 0
for aver in avers:
  num = num +1
  if aver >= 60:
    print("%d번은 합격입니다." % num)
  else:
   print("%d번은 불합격입니다." % num)

1번은 합격입니다.
2번은 불합격입니다.
3번은 합격입니다.
4번은 불합격입니다.
5번은 합격입니다.

## **예제**

In [110]:
# while문
number=int(input("정수를 입력하시오 : "))
i=1

while i<10:
  print("%d x %d = %d" %(number, i, number*i))
  i=i+1

정수를 입력하시오 : 34
34 x 1 = 34
34 x 2 = 68
34 x 3 = 102
34 x 4 = 136
34 x 5 = 170
34 x 6 = 204
34 x 7 = 238
34 x 8 = 272
34 x 9 = 306

In [111]:
# for문
num=int(input("정수를 입력하시오 : "))
for i in range(1,10):
  print("%d x %d = %d" %(num,i,num*i))

정수를 입력하시오 : 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

## **함수**


 입력 X 값에 대한 결과 Y 값을 반환(Return)하는 기능을 하나의 묶음으로 선언

In [112]:
def add(a, b) :
  result = a + b
  return result

In [113]:
a = add(3,4)
print(a)

7

In [114]:
def say():
  return "Hi"

In [115]:
a=say()
print(a)

Hi

In [116]:
def add(a,b):
  print("%d, %d의 합은 %d입니다." %(a,b,a+b))

In [117]:
add(3,4)  # 결과값이 없는 함수는 호출해도 돌려주는 값이 없으며 출력만 해 줌

3, 4의 합은 7입니다.

In [118]:
a= add(3,4) # 하지만 a변수의 값을 출력해보면 None 출력
print(a)    # 결과값이 없다’는 것은 변수가 지정이 되지 않는다는 의미

3, 4의 합은 7입니다.
None

In [119]:
def say() :
  print('Hi')

In [120]:
say() # 입력 인수를 받는 매개변수도 없고 return문도 없어 결과값도 없는 함수

Hi

In [121]:
def swap(x, y) :
  return y, x
swap(1, 2)

(2, 1)

In [122]:
def setValue(newValue):
  x=newValue
  
retval = setValue(10)

In [123]:
print(retval)

None

In [124]:
def printUser(name, age = 18) :
    print("이름 : " + name)
    print("나이 : " + str(age))
    return

In [125]:
printUser("홍길동",55) # name, age인수가 입력되면 그대로 출력

이름 : 홍길동
나이 : 55

In [126]:
printUser("홍길동")

이름 : 홍길동
나이 : 18

In [127]:
def printUser(age = 18, name): # 디폴트 매개변수 다음에 일반 매개변수가 오면 오류 발생
    print("이름 : " + name)
    print("나이 : " + str(age))
    return

SyntaxError: non-default argument follows default argument (<ipython-input-127-6ac40c526f52>, line 1)

## **가변개수 매개변수(여러 개의 입력값을 받는 함수 만들기)**

In [ ]:
def sum_many(*args): 
  sum = 0
  for i in args: # args에 입력받은 모든 값을 더한다
      sum = sum + i
  return sum

In [ ]:
result = sum_many(1,2,3)
print(result)

In [ ]:
result=sum_many(1,2,3,4,5,6,7,8,9,10)
print(result)

In [ ]:
# 익명 함수
add2 = lambda v1, v2 : v1 + v2
sum = add2(4, 5)
print(sum)

## 예제

In [ ]:
def FtoC(temp_f):
  temp_c = (5 * (temp_f - 32)) / 9
  return temp_c

In [ ]:
temp_f = float(input("화씨온도를 입력하시오: "))
print(FtoC(temp_f))

## **모듈 내의 함수 불러 오기**

In [ ]:
from math import factorial
n=factorial(5)
n

In [ ]:
from math import (factorial,acos)
n=factorial(3)+acos(1)
n

In [ ]:
from math import *
n=sqrt(5)+abs(-12.5)
n

In [ ]:
from math import factorial as f
n=f(5)/f(3)
n

####