<a href="https://colab.research.google.com/github/graceFor/SEMICON-BigData/blob/main/PCA/pca.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### PCA

In [1]:
# example of pca for dimensionality reduction
from sklearn.datasets import make_classification
from sklearn.decomposition import PCA

In [2]:
# define dataset =>컬럼 10개를 가진 1000개의 dataset
X, y = make_classification(n_samples=1000, n_features=10, n_informative=3, n_redundant=7,
random_state=1)

# summarize data before the transform
print(X[:3, :])

[[-0.53448246  0.93837451  0.38969914  0.0926655   1.70876508  1.14351305
  -1.47034214  0.11857673 -2.72241741  0.2953565 ]
 [-2.42280473 -1.02658758 -2.34792156 -0.82422408  0.59933419 -2.44832253
   0.39750207  2.0265065   1.83374105  0.72430365]
 [-1.83391794 -1.1946668  -0.73806871  1.50947233  1.78047734  0.58779205
  -2.78506977 -0.04163788 -1.25227833  0.99373587]]

In [13]:
X.shape

(1000, 10)

In [14]:
# define the transform => 5차원으로 차원축소
trans = PCA(n_components=5)

# transform the data
X_dim = trans.fit_transform(X)

# summarize data after the transform
print(X_dim[:3, :])

[[-1.64710578e+00 -2.11683302e+00  1.98256096e+00  1.77145608e-15
  -4.82771883e-16]
 [ 9.28402085e-01  4.82949970e+00  2.27270432e-01  6.55303000e-16
   1.59490800e-15]
 [-3.83677757e+00  3.23007138e-01  1.15128013e-01  2.66643680e-15
  -8.02718758e-16]]

In [15]:
X_dim.shape

(1000, 5)

In [4]:
print(X_dim)

[[-1.64710578e+00 -2.11683302e+00  1.98256096e+00 ... -2.28748705e-17
  -3.34837882e-17 -9.27785821e-17]
 [ 9.28402085e-01  4.82949970e+00  2.27270432e-01 ...  1.02045970e-15
   1.26734160e-16  3.24155226e-16]
 [-3.83677757e+00  3.23007138e-01  1.15128013e-01 ... -4.86354389e-17
  -3.70265931e-18 -6.82838540e-17]
 ...
 [ 3.45579288e+00 -6.49130724e-01 -6.98465393e-01 ... -7.58767542e-17
   4.08018081e-18  4.71479856e-17]
 [ 4.32915522e+00 -3.00906405e-01 -1.99348645e+00 ...  4.28901523e-17
  -5.85537757e-17 -1.06112698e-16]
 [-2.49808012e+00 -1.87944823e+00  4.47071779e-03 ... -2.87858183e-17
  -9.06400398e-17  5.51639430e-18]]

In [5]:
import pandas as pd

In [16]:
type(X_dim)

numpy.ndarray

In [18]:
df_X = pd.DataFrame(X_dim)

In [20]:
df_X.corr(method='pearson').round()

     0    1    2    3    4
0  1.0  0.0  0.0  0.0 -0.0
1  0.0  1.0 -0.0  0.0  0.0
2  0.0 -0.0  1.0 -0.0 -0.0
3  0.0  0.0 -0.0  1.0  0.0
4 -0.0  0.0 -0.0  0.0  1.0

In [7]:
df_X.describe().round()

            0       1       2       3  ...       6       7       8       9
count  1000.0  1000.0  1000.0  1000.0  ...  1000.0  1000.0  1000.0  1000.0
mean      0.0     0.0    -0.0     0.0  ...    -0.0    -0.0    -0.0     0.0
std       3.0     3.0     2.0     0.0  ...     0.0     0.0     0.0     0.0
min      -7.0    -8.0    -5.0    -0.0  ...    -0.0    -0.0    -0.0    -0.0
25%      -2.0    -2.0    -1.0     0.0  ...    -0.0    -0.0    -0.0    -0.0
50%      -1.0    -0.0     0.0     0.0  ...    -0.0    -0.0    -0.0     0.0
75%       2.0     2.0     1.0     0.0  ...     0.0     0.0     0.0     0.0
max       8.0    10.0     5.0     0.0  ...     0.0     0.0     0.0     0.0

[8 rows x 10 columns]

In [8]:
df_X_org = pd.DataFrame(X)

In [9]:
df_X_org.describe().round()

            0       1       2       3  ...       6       7       8       9
count  1000.0  1000.0  1000.0  1000.0  ...  1000.0  1000.0  1000.0  1000.0
mean     -1.0    -0.0    -0.0     0.0  ...    -0.0     0.0    -0.0     0.0
std       2.0     1.0     1.0     1.0  ...     2.0     1.0     2.0     1.0
min      -5.0    -3.0    -5.0    -4.0  ...    -5.0    -3.0    -5.0    -2.0
25%      -2.0    -1.0    -1.0    -1.0  ...    -2.0    -0.0    -2.0    -0.0
50%      -1.0    -0.0    -0.0     0.0  ...    -1.0     0.0    -0.0     0.0
75%       1.0     1.0     1.0     1.0  ...     1.0     1.0     1.0     1.0
max       4.0     4.0     3.0     3.0  ...     5.0     4.0     4.0     2.0

[8 rows x 10 columns]

In [10]:
X_dim.shape

(1000, 10)

In [11]:
print("\nFirstprincipal axis :", trans.components_[0])

print("Second principal axis", trans.components_[1])

print("Third principal axis", trans.components_[2])

Firstprincipal axis : [ 0.30139367  0.2906802   0.08446786 -0.40630879 -0.31791676 -0.20643607
  0.62622795  0.11716757  0.25669845 -0.1922876 ]
Second principal axis [-0.44347297 -0.28087938 -0.44465307 -0.07863887  0.06367704 -0.45409896
  0.04338621  0.32572588  0.42657205  0.14259741]
Third principal axis [-0.23696749  0.4344179  -0.07607847 -0.38501528  0.41756942 -0.05364617
  0.02642631  0.37397604 -0.53091964  0.03779641]

In [12]:
print(trans.explained_variance_ratio_)

[4.85352415e-01 3.83707404e-01 1.30940181e-01 6.79755334e-32
 2.56524695e-32 1.10356260e-32 1.82008286e-33 8.72767404e-34
 6.76199847e-34 2.85870636e-34]